<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Buku</title>
</head>
<body>
    <h2>Tambah Buku</h2>

    <form action="{{ url_for('tambah') }}" method="post">
        ID: <br />
        <input type="text" name="id"><br />
        Title: <br />
        <input type="text" name="title"><br />
        Author: <br />
        <input type="text" name="author"><br />
        Publisher: <br />
        <input type="text" name="publisher"><br />
        <p><input type="submit" value="Simpan"></p>
    </form>
</body>
</html>